<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <add name="flask" path="*" verb="*" modules="FastCgiModule" scriptProcessor="C:\wwwroot\39.96.52.170\YCJ-Services\venv\Scripts\python.exe|C:\wwwroot\39.96.52.170\YCJ-Services\venv\lib\site-packages\wfastcgi.py" resourceType="Unspecified" />
           <add name="FlaskFastCGI" path="*" verb="*" modules="FastCgiModule" scriptProcessor="C:\wwwroot\39.96.52.170\YCJ-Services\venv\Scripts\python.exe|C:\wwwroot\39.96.52.170\YCJ-Services\venv\lib\site-packages\wfastcgi.py&quot;" resourceType="Unspecified" requireAccess="Script" />
        </handlers>
		<security>
			<requestFiltering allowDoubleEscaping="true"></requestFiltering>
		</security>
    </system.webServer>
	<appSettings>
		<!-- Required settings -->
		<add key="WSGI_HANDLER" value="manager.app" />
		<add key="PYTHONPATH" value="~/" />
	</appSettings>
</configuration>